<p class="hello">
	<%="Hello #{@c_user}!"%>
	</p>

<h2 class="profile_h2"> Your Profile Information</h2>

<div class="comp_profile">
	<p><b>Name  </b> <%= @user.fname %><br>
	<b>Last name  </b> <%= @user.lname %><br>
	<b>Address </b><%= @user.address %><br>
	<b>City </b><%= @user.city %><br>
	<b>State </b><%= @user.state %><br>
	<b>Zip code  </b><%= @user.zipcode %><br>
	<b>Country  </b><%= @user.country %> <br>
	<b>Email  </b><%= @user.email %>
	</p>
		<!-- <a href="/">My page</a>
	<a href="/profile">Update my profile</a> -->
</div>

