<h2>this is your profile information</h2>
<p>
Name: <%= @user.fname %><br>
Last name: <%= @user.lname %><br>
Address: <%= @user.address %><br>
City<%= @user.city %><br>
State<%= @user.state %><br>
Zip code<%= @user.zipcode %><br>
Country<%= @user.country %>
Email<%= @user.email %>

<a href="/members">My page</a>
<a href="/profile">Update my profile</a>


</p>